@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@1,400;1,700&display=swap");
$color-header: #e9eff7;
$color-background-menu: #e2ecf6;
$color-main-background: #edf3f9;
$color-main-2-background: #ecf2f9;
$color-main-3-background: #ecf2f9;
$color-main-select: #ecf2f9;
$color-main-select-text: #9c9c9c;
$color-main-menu-text: rgba(13, 4, 4, 0.267);

.container5 {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: $color-main-background;

  .container-responsiv {
    background-color: #e2ecf6;

    .container-main {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      background-color: $color-main-background;
      position: relative;

      > form {
        display: flex;
        margin: 30px 0 37px 0;

        .dropdown-edit {
          position: relative;

          i {
            position: absolute;
            top: 25%;
            right: 10%;
            color: #96a8b2;
          }

          select {
            appearance: none;
            cursor: pointer;
            box-shadow: rgba(205, 205, 206, 0.25) 8px 10px 5px -8px inset,
              rgba(205, 205, 206, 0.25) 8px -10px 5px -8px inset;
            margin-right: 10px;
            border-radius: 3px;
            display: flex;
            height: 40px;
            padding: 0px 15px;
            font-family: "Quantico", sans-serif;
            font-weight: 700;
            color: $color-main-select-text;
            font-size: 16px;
            width: 190px;
            background-color: $color-main-select;
            border: transparent;
            &:focus {
              outline: none;
            }
          }
        }
        .search-x {
          position: relative;

          > img {
            height: 20px;
            position: relative;
            right: 35px;
            color: $color-main-select-text;
            top: 4px;
          }

          > input {
            padding-left: 10px;
            background-color: $color-main-select;
            border: transparent;
            border-radius: 4px;
            font-family: "Quantico", sans-serif;
            font-weight: 700;
            font-size: 16px;
            appearance: none;
            margin-right: -10px;
            height: 40px;
            width: 190px;
            box-shadow: rgba(205, 205, 206, 0.25) 8px 10px 5px -8px inset,
              rgba(205, 205, 206, 0.25) 8px -10px 5px -8px inset;

            &::placeholder {
              color: $color-main-select-text;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }
      .backgrundp1 {
        background-color: $color-main-background;
        height: 90%;
        max-width: 1444px;
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: solid 3px #f5f9fc;
        border-left: solid 3px #f5f9fc;
        border-radius: 25px;
        z-index: 4;
        margin-bottom: 190px;
        min-height: 1400px;
        box-shadow: rgba(197, 193, 193, 0.35) 5px 10px 20px;

        .favorite-cards {
          margin-left: 4%;
          margin-top: 5%;
          padding-top: 4rem;
          display: grid;
          max-width: 95%;
          position: relative;
          grid-template-columns: repeat(auto-fit, minmax(250px, 0fr));
          height: auto;
          justify-content: center;
          width: 100%;

          > h1 {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(27, 16, 126);
            padding: 5px 40px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.35);
            box-shadow: 0 8px 32px 0 rgba(56, 59, 104, 0.37);
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border: 1px solid rgba( 255, 255, 255, 0.18 );
          }
        }

        .backgroundp2 {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          max-width: 95%;
          height: auto;
          margin-bottom: 30px;
          margin-left: 2%;
          background-color: $color-main-3-background;

        }

        .backgroundp23 {
          display: flex;
          max-width: 95%;
          
          flex-direction: column;
          margin-bottom: 30px;
          margin-left: 9%;
          margin-top: 50px;
          position: relative;


        }

        .aAz {
          position: relative;
          display: flex;
          height: 60px;
          width: 100%;
          justify-content: end;
          align-items: center;

          > i {
            color: #96a8b2;
            position: absolute;
            right: 80px;
          }

          > select {
            background-color: #ebf1f9;
            appearance: none;
            padding: 0px 10px;
            font-family: "Quantico", sans-serif;
            font-weight: 700;

            box-shadow: rgba(205, 205, 206, 0.25) 8px 10px 5px -8px inset,
              rgba(205, 205, 206, 0.25) 8px -10px 5px -8px inset;

            border: none;
            outline: none;
            height: 35px;
            margin-right: 65px;
            width: 135px;
            color: #96a8b2;
            font-size: 16px;
            border-radius: 25px;

            > option {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .AVAST_PAM_nonloginform {
    display: grid !important;
    grid-template-columns: auto auto;
    .dropdown-edit {
      width: 200px;
      select {
        width: 192px;
      }
    }

    div {
      margin-bottom: 12px;

      &:nth-child(5) {
        margin-bottom: 0;
      }
    }
  }

  .container-header {
    height: auto !important;

    ul {
      margin: 2% 0px;
      display: grid !important;
      grid-template-columns: auto auto auto auto;
      grid-column-gap: 17px;

      li {
        margin-bottom: 8px;
      }
    }
  }
}

@media (max-width: 820px) {
  .responsive-apre {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    div {
      &:nth-child(2) {
        margin-bottom: 20px;
      }
    }

    .apresentacao01 {
      #linha_home {
        height: 32px;
      }

      img {
        &:nth-child(1) {
          height: 30px;
        }
        &:nth-child(3) {
          height: 20px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  //Menu
  .container-header {
    height: auto !important;

    ul {
      margin: 4% 0px;
      display: grid !important;
      grid-template-columns: auto auto;
      grid-column-gap: 17px;

      li {
        margin-bottom: 8px;
      }
    }
  }

  .AVAST_PAM_nonloginform {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    .dropdown-edit {
      width: 200px;
      select {
        width: 192px;
      }
    }

    div {
      margin-bottom: 12px;

      &:nth-child(5) {
        margin-bottom: 0;
      }
    }
  }

  .container-footer {
    #peixinho1 {
      margin-top: 135px;
      height: 45px;
    }

    #peixinho2 {
      margin-top: 135px;
      height: 45px;
    }

    .footer-main {
      flex-direction: column;

      .footer-logo {
        > div {
          height: 23px !important;
        }

        img {
          &:nth-child(1) {
            max-height: 27px;
          }
          &:nth-child(2) {
            max-height: 19px;
          }
        }
      }

      .footer-social {
        margin-top: 25px;
      }
    }
  }
}

@media (max-width: 635px) {
  .responsive-apre {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    div {
      &:nth-child(2) {
        margin-bottom: 20px;
      }
    }

    .apresentacao01 {
      #linha_home {
        margin: 0 20px;
        height: 20px;
      }

      img {
        &:nth-child(1) {
          height: 28px !important;
        }
        &:nth-child(3) {
          height: 20px !important;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  //apresentação

  .responsive-apre {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    div {
      &:nth-child(2) {
        margin-bottom: 20px;
      }
    }

    .apresentacao01 {
      #linha_home {
        margin: 0 20px;
        height: 20px;
      }

      img {
        &:nth-child(1) {
          height: 20px !important;
        }
        &:nth-child(3) {
          height: 10px !important;
        }
      }
    }
  }

  //footer

  .container-footer {
    #peixinho1 {
      margin-top: 135px;
      height: 45px;
    }

    #peixinho2 {
      margin-top: 135px;
      height: 45px;
    }

    .footer-main {
      flex-direction: column;

      .footer-logo {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        > div {
          margin: 0 25px;
          height: 23px !important;
        }

        img {
          &:nth-child(1) {
            height: 15px;
          }
          &:nth-child(3) {
            height: 15px;
          }
        }
      }

      .footer-social {
        margin-top: 25px;

        span {
          font-size: 10px;
        }

        > div {
          width: 210px;

          img {
            height: 15px;
          }
        }
      }
    }
  }
}
